@import './styles/header/header.scss';
@import './styles/dashboard/dashboard.scss';
@import './styles/optionsBar/option-bar.scss';
@import './styles/optionsBar/option-bar-layout.scss';
@import './styles/sidebar/sidebar.scss';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


body{
  width: 100%;
  overflow: hidden;
}

