.layouts{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10vh;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

}

.layout{
  width: 120px;
  height: 100px;
  border: 3px solid blue;
  background-color: azure;
  margin: 2px;
  font-size: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}
