<ul class="header-list">
  <div class="header-list-left">
    <li *ngIf="!showSideBar" (click)='toggleSideBar()'><div class="icon-menu"><img src="assets/Icons/menu.png"></div></li>
    <li *ngIf="showSideBar"  (click)='toggleSideBar()'><div class="icon-close"><img src="assets/Icons/close.png"></div></li>
  </div>
  <div class="header-list-right" style="margin-right: 30px;">
    <li><div class="icon"><img src="assets/Icons/bell.svg"></div></li>
    <li (click)='toggleOptionsBar()'><div class="icon"><img src="../assets/Icons/setting-lines.png"></div></li>
  </div>
</ul>
