//initial layout
// .header{
//   position: absolute;
//   width: calc(100% - 280px);
//   height: 70px;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.1);
//   left: 280px;
//   transition: left 1s ease;
// }

// .header-full{
//     width: 100%;
//     left: 0;
//     height: 70px;
//     box-shadow: 0 1px 2px rgba(0,0,0,0.1);
//     transition: left 1s ease;
// }


// .header-list{
//   display: inline-block;
//   padding-top: 25px;
//   div{
//     display: inline-block;
//   }
//   &-right{
//     position: fixed;
//     right: 30px;
//     li{

//       padding:0 20px ;
//       display: inline-block;
//     }
//   }

//   &-left{
//     li{
//       padding:0 20px;
//     }
//   }
// }

//layout-1
[layout="1"].header,[layout="2"].header,[layout="5"].header{
  position: absolute;
  width: calc(100% - 280px);
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 280px;
  transition: left 1s ease;
}

[layout="1"].header-full,[layout="2"].header-full,[layout="5"].header-full{
    width: 100%;
    left: 0;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: left 1s ease;
}

[layout="1"].header-list,[layout="2"].header-list,[layout="5"].header-list{
  display: inline-block;
  padding-top: 25px;
  div{
    display: inline-block;
  }
  &-right{
    position: fixed;
    right: 30px;
    li{

      padding:0 20px ;
      display: inline-block;
    }
  }

  &-left{
    li{
      padding:0 20px;
    }
  }
}

ul{
  li{
    cursor: pointer;
    img{
      width: 20px;
      height: 20px;
    }
  }
}

//layout-2
[layout="3"].header{
  position: absolute;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 0px !important;
  transition: left 1s ease;
}

[layout="3"].header-full{
    width: 100%;
    left: 0;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: left 1s ease;
}

[layout="3"].header-list{
  display: inline-block;
  padding-top: 25px;
  div{
    display: inline-block;
  }
  &-right{
    position: fixed;
    right: 30px;
    li{

      padding:0 20px ;
      display: inline-block;
    }
  }

  &-left{
    li{
      padding:0 20px;
    }
  }
}

[layout="4"].header{
  position: absolute;
  width: calc(100% - 280px);
  margin-left: 280px;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 0px !important;
  transition: left 1s ease;
}

[layout="4"].header-full{
    width: calc(100% - 280px);
    left: 280px;
    margin-left: 280px;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: left 1s ease;
}

[layout="4"].header-list{
  display: inline-block;
  padding-top: 25px;
  div{
    display: inline-block;
  }
  &-right{
    position: fixed;
    right: 30px;
    li{

      padding:0 20px ;
      display: inline-block;
    }
  }

  &-left{
    li{
      padding:0 20px;
    }
  }
}


[layout="5"].header{
  position: absolute;
  width: calc(100% - 280px);
  margin-left: 280px;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 0px !important;
  transition: left 1s ease;
}

[layout="5"].header-full{
    width: calc(100% - 80px);
    left: 80px;
    margin-left: 80px;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: left 1s ease;
}

[layout="5"].header-list{
  display: inline-block;
  padding-top: 25px;
  div{
    display: inline-block;
  }
  &-right{
    position: fixed;
    right: 30px;
    li{

      padding:0 20px ;
      display: inline-block;
    }
  }

  &-left{
    li{
      padding:0 20px;
    }
  }
}



[layout="6"].header{
  position: absolute;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 0px !important;
  transition: left 1s ease;
}

[layout="6"].header-full{
    width: 100%;
    left: 0;
    height: 70px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: left 1s ease;
}

[layout="6"].header-list{
  display: inline-block;
  padding-top: 25px;
  div{
    display: inline-block;
  }
  &-right{
    position: fixed;
    right: 30px;
    li{
      padding:0 20px ;
      display: inline-block;
    }
  }

  &-left{
    li{
      padding:0 20px;
    }
  }
}

[layout="7"].header{
  position: absolute;
  width: 80px;
  height: 100vh;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  left: 0px !important;
  transition:none;
  background-color: rgba(231, 89, 89, 0.171);
}

[layout="7"].header-full{
    width: 80px;
    left: 0;
    height: 100vh;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: none;
    background-color: rgba(231, 89, 89, 0.171);
}

[layout="7"].header-list{
  position: fixed;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-right{
    position: none !important ;
    right: none !important;
    left: none;
    li{
      padding: 25px;
      text-align: center;
    }
  }

  &-left{
    li{
      padding: 25px;
     text-align: center;
    }
  }
}


[layout="7"].less-index{
  z-index: 200;
}

[layout="7"].more-index{
  z-index: 1000;
}
