<div class="layout">
  <div class="layout-header">
    <div class="layout-header-1" (click)="changeLayout(0)" [ngClass]="{'selcted':isSelected[0]}">0</div>
    <div class="layout-header-2" (click)="changeLayout(1)" [ngClass]="{'selcted':isSelected[1]}">1</div>
  </div>
  <div class="layout-header">
    <div class="layout-header-3" (click)="changeLayout(2)" [ngClass]="{'selcted':isSelected[2]}">2</div>
    <div class="layout-header-4" (click)="changeLayout(3)" [ngClass]="{'selcted':isSelected[3]}">3</div>
  </div>
</div>
