.sidebar{
  height: 100vh;
  transition: all 1s ease;
  width: 250px;
  background-color: var(--sidebar);
  color: var(--text-light);
  ul{
    padding: 5px 0;
  }

  &-list{
    text-align: justify;
    padding-top: 20px;

    &-item{
      position: relative;
      background: none;
      padding: 10px 20px;
      padding-top:8px;
      padding-left: 40px;
      font-size: 16px;
      cursor:pointer;
      &:hover{
        background: #ff3d03;
        transition: all 0.15s cubic-bezier(0.93, 1.25, 0.93, 0.97);
        filter:invert(1);
        opacity: 0.7;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        // color: var(--list-hover);
      }
    }
    &-img {
      border-bottom: 2px solid black;
      padding-bottom:3px ;
      img{
      width: 50px;
      height: 50px;
      padding-left: 40px;
      padding-bottom: 20px;}
    }

  }
}

.image-icon
{
  width: 18px;
  height: 18px;
  margin-right: 7px;
  margin-top: 7px;
  color: adjust-hue($color: #fff, $degrees: 0);
}


.sidebar-list-item::after
{
  content:">";
  display: inline-block;
  width: 20px;
  height: 50px;
  transform: rotate(0deg);
  position: absolute;
  right: 20px;
  top: 15px;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.options-list{
  padding-left: 60px !important;
  li{
    padding: 7px 7px;
    font-weight: 400;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    &:hover{
      background-color: rgb(243, 41, 41);
      opacity: 0.9;
      color: var(--hover-color);
    }

  }
}

