<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>Admin Panel</span>
  <span style="flex:1 1 auto"></span>
  <button mat-button (click)="openDialog()">Open</button>
  <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">{{isDarkMode?'DarkMode':'LightMode'}}
  </mat-slide-toggle>
</mat-toolbar> -->

<!--
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav">


  </mat-drawer>


</mat-drawer-container> -->
<!--
<div class="container">
  <button id="button">Custom</button>
  <button mat-button color="secondary">Custom Mat</button>
  <button class="btn btn-primary">Bootstrap</button>

  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
</div>


<div class="side">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, natus laudantium mollitia
    iusto id at numquam cumque, tempora cum
     facilis exercitationem tenetur itaque, quod libero quo ex hic eos consectetur.</p>
</div> -->


<button class="btn btn-primary">Bootstrap</button>
