<div class="container-fluid">
<div class="forms" class="col-md-12">
  <form>
    <div class="form-group">
      <div class="col-xs-12">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-6">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>


    <div class="form-group">
      <div class="col-xs-6">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
  </form>
</div>
</div>
