
<div class="main">
  <p class="main__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque illo voluptates iusto odio et recusandae
    foaliquid similique architecto hic esse.
    Beatae itaque soluta nobis obcaecati omnis quisquam sint veritatis cum!</p>

    <p class="main__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque illo voluptates iusto odio et recusandae
      foaliquid similique architecto hic esse.
      Beatae itaque soluta nobis obcaecati omnis quisquam sint veritatis cum!</p>

</div>
